/* class Shell
Shell[
    Shell__header[
        Shell__title[]
        Shell_nav[]
    ]
    Shell__contents[]
    Shell__footer[]
]

colors are cc6611 and dd8833
*/

.Shell {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-top: 1px solid hsl(0, 0%, 0%);
}

.Shell__header {
    border: solid 2px purple;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0;
    background-color: hsla(0, 0%, 20%, 0.5);
}

.Shell__face {
    border: 1px solid red;
    margin: 10px;
}

.Shell__face img {
    width: 100px;
}

.Shell__title {
    border: 1px solid orange;
    margin: 0;
    padding: 0;
}

.Shell__title a {
    font-size: 50px;
    padding-bottom: 0;
    padding-top: 0;
    text-shadow: 1px 1px 1px #ccc;
}

.Shell__words {
    border: 4px solid yellow;
    display: flex;
    flex-direction: column;
}

.Shell__words p {
    font-size: 16px;
    font-style: italic;
}

.Shell__icons {
    border: 1px solid orange;
    padding-left: 0;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

.Shell__icons a {
    padding: 0 5px 10px;
}

.Shell__icons a img {
    height: 20px;
}

.Shell__nav {
    border: solid 1px red;
    padding: 0 5px 0 0;
    margin: 0;
    font-weight: bold;
    flex-grow: 1;
}

.Shell__nav a {
    /* border: solid 1px red; */
    padding: 4px;
    background-color: default;
    transition:
        background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s,
        border-bottom-color ease-in-out 0.25s;
    transition-duration: 0.25s, 0.25s;
    transition-property: background-color;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #ccc;
}

.Shell__nav a:hover {
    background-color: #c5c5c5;
}

.Shell__title a,
.Shell__nav a,
.Shell__title a:visited,
.Shell__nav a:visited,
.Shell__title a:hover,
.Shell__nav a:hover {
    color: hsl(0, 0%, 20%);
}

.Shell__contents {
    border-left: 1px solid hsl(0, 0%, 0%);
    border-right: 1px solid hsl(0, 0%, 0%);
    margin: 0;
    flex-grow: 1;
    width: 800px;
    background: hsla(0, 0%, 90%, 1);
}

.Shell__footer {
    border-left: 1px solid hsl(0, 0%, 0%);
    border-right: 1px solid hsl(0, 0%, 0%);
    border-bottom: 1px solid hsl(0, 0%, 0%);
    display: block;
    font-weight: bold;
    text-align: center;
    background-color: hsla(0, 0%, 20%, 0.5);
}

.Shell__footer a img {
    padding: 6px 5px;
}

/* RESPONSIVE DESIGN below */

/* Fix Shell__header for small landscape orientation */
@media (max-width: 600px) and (max-height: 400px) {
    /* .Shell__header {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }

    .Shell__title {
        margin: 0;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }

    .Shell__title {
        margin: 0;
        padding-left: 10px;
    }

    .Shell__nav {
        margin: 0;
        padding: 0;
    }

    .Shell__nav a {
        padding: 0 10px;
    } */
}

/* Fix Shell_contents to adjust to smaller width */
@media (max-width: 1600px) {

}

/* Fix Shell_contents to adjust to even smaller width */
@media (max-width: 800px) {

}

/* Fix Shell_header for smallest devices */
@media (max-width: 340px) {
}
