/* class Shell
Shell[
    Shell__header[
        Shell__title[
            Shell_nav[]
        ]
    ]
    Shell__contents[]
]
*/

.Shell {
}

.Shell__header {
    border: solid 1px black;
    display: flex;
    align-items: center;
}

.Shell__title {
    border: solid 1px red;
    justify-content: left;
}

.Shell__nav {
    border: solid 1px blue;
    flex-grow: 1;
    text-align: right;
}

.Shell__contents {
    margin: auto;
    border: solid 3px black;
    width: 50%;
}

.Shell__footer {
    display: block;
    border: solid 1px pink;
    text-align: center;
}
