
.Shell {
    background-color: hsla(0, 0%, 100%, 1);
    min-width: 100vw;
    padding: 0;
    margin: 0;
    height: auto;
}

.Shell__contents {
    /* border: 1px solid hsl(0, 50%, 50%); */
    min-width: 1000px;
    max-width: calc(90vw - 280px);
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 50px 50px 0 60px;
    position: relative;
    left: 250px;
}

.Shell__sidebar {
    background-color: hsla(25, 0%, 100%, 1);
    border-left: 1px solid hsl(0, 0%, 0%);
    border-right: 1px solid hsl(0, 0%, 0%);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 250px;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;

    /* box-shadow: 2px 2px 10px 1px hsl(0, 0%, 30%); */
}

.Shell__header {
    display: flex;
    flex-direction: column;
}

/* Picture of face. */
.Shell__header img {
    margin: 80px auto 30px;
    border: 3px solid black;
    border-radius: 50%;
    width: 200px;
}

/* Link to home page. */
.Shell__header a {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 1px 1px #333;
    margin: 0 auto;
}

.Shell__header a,
.Shell__header a:visited {
    color: hsl(25, 100%, 45%);
}

.Shell__header a:hover {
    color: hsl(25, 100%, 55%);
}

/* Slogan thing? */
.Shell__sidebar p {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin: 20px auto;
}

.Shell__nav {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.Shell__nav a {
    /* border: solid 1px red; */
    padding: 2px;
    background-color: default;
    margin: 0 5px;
    transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;

    /* text-decoration-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, */

    /* border-bottom-color ease-in-out 0.25s; */
    transition-duration: 1s, 10s;
    transition-property: background-color;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #ccc;
}

.Shell__nav a:hover {
    /* background-color: #c5c5c5; */
    background-color: hsla(25, 100%, 50%, 0.3);
}

.Shell__title a,
.Shell__nav a,
.Shell__title a:visited,
.Shell__nav a:visited,
.Shell__title a:hover,
.Shell__nav a:hover {
    color: hsl(0, 0%, 20%);
}

.Shell__icons {
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Shell__icons a {
    padding: 5px;
}

.Shell__icons a img {
    height: 32px;
}

/* RESPONSIVE DESIGN below */

/* Fix Shell__header for small landscape orientation */
@media (max-width: 600px) and (max-height: 400px) {
    /* .Shell__header {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }

    .Shell__title {
        margin: 0;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }

    .Shell__title {
        margin: 0;
        padding-left: 10px;
    }

    .Shell__nav {
        margin: 0;
        padding: 0;
    }

    .Shell__nav a {
        padding: 0 10px;
    } */
}

/* Fix Shell_contents to adjust to smaller width */
@media (max-width: 1600px) {

}

/* Fix Shell_contents to adjust to even smaller width */
@media (max-width: 800px) {

}

/* Fix Shell_header for smallest devices */
@media (max-width: 340px) {
}
