
/* #cc6611 #dd8833 */
* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: hsl(0, 10%, 94%);
    color: hsl(0, 0%, 30%);
    align-content: center;
}

h1,
h2,
footer {
    font-family: 'Oxygen', sans-serif;
    color: hsl(0, 0%, 0%);
}

h2 {
    padding-left: 10px;
}

a {
    text-decoration: none;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

#root {
    margin: 10px auto;
    height: 100vh;
    width: 1000px;
}
