
/* #cc6611 #dd8833 */
* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lora', serif, 'Lato', sans-serif;
    color: hsl(0, 0%, 0%);
}

h1,
h2,
footer {
    font-family: 'Oxygen', sans-serif;
    color: hsl(0, 0%, 0%);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#root {
}

.parallax {
    background-image: url('./img/orange2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.solid {
    background-color: hsl(0, 0%, 90%);
}
